<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <header class="bg-gray" id="header">
        <div class="container row">

                <a class="main-link" href=""><h1>Igor Lúcio</h1></a>
                <!-- <figure class="logoWrapper">
                    <img class="logoImg" src="/images/logo.png" alt="logo">
                </figure> -->

                <nav class="nav">
                    <ul>
                        <li><a class="nav-link" href="/">Home</a></li>
                        <li><a class="nav-link" href="/sobre">Sobre mim</a></li>
                        <li><a class="nav-link" href="/portfolio">Porfolio</a></li>
                        <li><a class="nav-link" href="/contact">Serviços</a></li>
                        <li><a class="nav-link" href="/contact">Blog</a></li>
                        <li><button class="button-cta button-cta-primary primary-color">Contato</button></li>
                    </ul>
                </nav>
           
        </div>
    </header>